<div class="post">
	<p class="titulo_">blocos</p>

	<table class="form" style="padding: 0;">
		<tr>
			<td><a href="{% url 'faq_edit' %}">faq</a></td>
		</tr>
		{% for bloco in blocos %}
			<tr>
				{% if bloco.nome != 'rascunho' %}
					<td><a href="{% url 'faq_edit' pk=bloco.pk %}">{{ bloco }}</a></td>
					
					{% if bloco.data1 %}
						<th style="font-weight: normal; padding-right: 10px;">{{ bloco.data1|date:'d/m/Y' }}</th>
					{% else %}
						<th><a href="{% url 'bloco_publish' pk=bloco.pk %}" class="botao"><button type="button">publicar</button></a></th>
					{% endif %}
					<td>
					<a href="{% url 'bloco_remove' pk=bloco.pk %}" class="botao"><button type="button">deletar</button></a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
		<tr><td class="espaco"></td></tr>

		<form method="POST">
			{% csrf_token %}
			{% for field in novo_bloco %}
			<tr>
				<th style="width: 90px;">{{ field.label }}</th>
				<td>{{ field }}</td>
				<td><button type="submit" name='bloco_submit'>criar</button></td>
			</tr>
			{% endfor %}
		</form>
	</table>
</div>