{% extends 'o_t/base.html' %}
{% load outras_tags %}

{% block menu %}
	{% if user.is_authenticated %}
		<div class="linha menu">
			<a href="{% url 'nota_add' %}" class="botao"><button type="button">novo post</button></a>
		</div>
	{% endif %}
{% endblock %}


{% block c1 %}
	{% if edit %}
		{% include 'o_t/nota_edit.html' %}
	{% else %}
		{% if nota %}
			{% espaco %}	
			{% include 'o_t/nota.html' %}
			{% espaco borda='linha_' %}	
		{% else %}
			{% include 'o_t/notas.html' %}
		{% endif %}
	{% endif %}
{% endblock %}


{% block c2 %}
	{% if edit %}
		{% include 'o_t/tag_edit.html' %}
	{% else %}
		<div class="frame linha" style="height: 65%;">
			{% include 'o_t/notas_lista.html' %}
		</div>
		<div class="frame" style="height: 35%;">
			{% include 'o_t/tags_lista.html' %}
		</div>
	{% endif %}
{% endblock %}
