{% extends 'o_t/base.html' %}

{% block menu %}
{% if user.is_authenticated %}
<div class="linha menu">
<a href="{% url 'nota_add' %}" class="botao"><button type="button">novo post</button></a>
</div>
{% endif %}
{% endblock %}


{% block c0 %}
{% if form %}
	{% include 'o_t/nota_edit.html' %}
	{% else %}
		{% if nota %}
			{% include 'o_t/nota.html' %}
		{% else %}
			{% include 'o_t/notas.html' %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block c1 %}
{% if user.is_authenticated %}
<!-- lista posts -->
	<div class="frame linha" style="height: 50%;">
	{% include 'o_t/notas_lista.html' %}
	</div>
	<!-- midias -->
	<div class="frame linha" style="height: 50%;">
	{% include 'o_t/notas_lista.html' with titulo_='rascunhos' notas=notas_ %}
	</div>
{% else %}
	<!-- lista posts -->
	<div class="frame linha" style="height: 90%;">
	{% include 'o_t/notas_lista.html' %}
	</div>
	<!-- midias -->
	<div class="frame linha" style="height: 10%;">
	{% include 'o_t/midias.html' %}
	</div>
{% endif %}
{% endblock %}
