{% extends 'o_t/base.html' %}
{% load static outras_tags %}

{% block head %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}

{% block menu %}
	{% if user.is_authenticated %}
		<div class="linha menu">
			<a href="{% url 'nota_add' %}" class="botao"><button type="button">novo post</button></a>
		</div>
	{% endif %}
{% endblock %}


{% block c1 %}
	{% if nota %}
		{% espaco %}	
		{% include 'o_t/nota.html' %}
		{% espaco borda='linha_' %}	
	{% else %}
		{% include 'o_t/notas.html' %}
	{% endif %}
{% endblock %}


{% block c2 %}
	<div class="frame linha" style="height: 60%;">
		{% include 'o_t/notas_lista.html' %}
	</div>
	<div class="frame" style="height: 40%;">
		{% include 'o_t/tags_lista.html' %}
	</div>
{% endblock %}
