<p class="titulo titulo_ linha"> {{ cartaz_form.instance.pagina }}/edit</p>

{% if user.is_authenticated %}
<table class="form">
<form method="POST" enctype="multipart/form-data" >
	{% csrf_token %}
	{% for field in cartaz_form %}
		{% if field.name == 'titulo_en' %}
			<tr><td class="espaco"></td></tr>
		{% endif %}
		<tr>
		<th>{{ field.label_tag }}</th>
		<td>{{ field }}</td>
		</tr>
	{% endfor %}
	<tr><td class="espaco"></td></tr>
	{{ arquivos_form.management_form }}
	{% for form in arquivos_form %}
		{{ form }}
		<tr><td class="espaco"></td></tr>
	{% endfor %}
<tr>
	<td></td><td>
		<button type="submit" name="cartaz_submit">+ arquivo</button>
		<button type="submit" name="cartaz_submit_home">salvar</button>
	</td>
</tr>
</form>
</table>
{% endif %}