<p class="titulo titulo_ linha"> {{ cartaz_form.instance.pagina }}/edit</p>

{% if user.is_authenticated %}
<table class="form">
<form method="POST" enctype="multipart/form-data" >
	{% csrf_token %}
	{{ cartaz_form }}
	<tr><td class="espaco"></td></tr>
	{{ arquivos_form.management_form }}
	{% for form in arquivos_form %}
		{{ form }}
		<tr><td class="espaco"></td></tr>
	{% endfor %}
<tr>
	<td></td><td>
		<button type="submit" name="cartaz_submit">+ imagem</button>
		<button type="submit" name="cartaz_submit_home">salvar</button>
	</td>
</tr>
</form>
</table>
{% endif %}