{% load i18n outras_tags %}

{% get_current_language as lang %}

{% query logos 'filter' tipo='01' get=True as logo %}
{% query logos 'exclude' tipo='01' as logos %}

{% espaco %}
<div class="cartaz linha">
	{% if logo %}
		<img src="{{ logo.imagem.url }}" alt="{{ logo.nome }}" style="padding: 6vh 7vw;">
	{% else %}
		<p class="titulo">
			{% if lang == 'en' and cartaz.titulo_en %}
				{{ cartaz.titulo_en|linebreaksbr }}
			{% else %}
				{{ cartaz.titulo|linebreaksbr }}
			{% endif %}
		</p>
	{% endif %}
</div>

{% if img %}
	<div class="cartaz linha fundocinza">
		<img src="{{ img.imagem.url }}" alt="{{ img.nome }}">
	</div>
{% endif %}
{% espaco 50 100 %}
<div class="cartaz linha">
	<div class="cartaz coluna" style="width: 60%;">
		<div class="post linha">
			<p class="texto">
				{% if lang == 'en' and cartaz.texto_en %}
					{{ cartaz.texto_en|post }}
				{% else %}
					{{ cartaz.texto|post }}
				{% endif %}
			</p>
		</div>
		{% espaco 100 200 borda='' %}
	</div>
	<div class="post linha" style="width: 40%;">
		<p class="data">
			{% if lang == 'en' and cartaz.datas_en %}
				{{ cartaz.datas_en|formatadata }}
			{% else %}
				{{ cartaz.datas|formatadata }}
			{% endif %}
		</p>
	</div>
</div>


<!-- logos -->
<div class="post linha">
	{% for logo in logos %}
		{% ifchanged logo.tipo %}
			<p class="texto" style="padding-top: 60px;">{{ logo.tipo_verbose }}</p>
		{% endifchanged %}
		{% if logo.link %}<a href="{{ logo.link }}" target="_blank" class="botao">{% endif %}
		<img src="{{ logo.imagem.url }}" alt="{{ logo.nome }}" style="height: {{ logo.altura }}px;" class="logos">
		{% if logo.link %}</a>{% endif %}

	{% endfor %}
</div>
{% espaco borda='' %}

