{% extends 'o_t/base.html' %}

{% block menu %}
{% if user.is_authenticated %}
	<div class="linha menu">
	<a href="{% url 'concurso_edit' %}" class="botao"><button type="button">editar concurso</button></a>
	</div>
{% endif %}
{% endblock %}

<!-- cartaz -->
{% block c1 %}
	{% if edit %}
		{% include 'o_t/cartaz_edit.html' with form=cartaz_form formset=arquivos_form %}
	{% else %}
		{% include 'o_t/documentacao.html' %}
	{% endif %}
{% endblock %}


{% block c2 %}
	{% if edit %}
		{% include 'o_t/juri_edit.html' %}
	{% else %}
		<div class="frame linha" style="height: 80%;">
		{% include 'o_t/pre_inscricoes.html' %}
		</div>
		<!-- midias -->
		<div class="frame" style="height: 20%;">
		{% include 'o_t/email.html' %}
		</div>
	{% endif %}
{% endblock %}
