{% load tz i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}
{% if erro %}
    <div class="post linha">
        <p class="texto confirmacao">{{ erro }}</p>
    </div>
{% endif %}
<div class="post linha">
    <p class="titulo_">{% trans 'informações' %}</p>
    {% if inscricao.finalizada %}
        <p class="texto">
            {% trans 'Sua inscrição foi finalizada em' %} <b>{{ inscricao.finalizada|localtime }}</b>
        </p>
    {% else %}
        <p class="texto" style="margin-bottom: 50px;">
            {% trans 'O formulário do projeto poderá ser acessado e alterado quantas vezes for necessário até a data limite definida no cronograma.' %} <br><br>
            <b>{% trans 'Não se esqueça de salvar as informações a cada alteração.' %} <br><br>
            {% trans 'A submissão só será efetivada após o clique em “enviar proposta”.' %} </b>
            {% trans 'A partir desse momento, não será mais possível realizar modificações.' %}
        </p>
        {% if ativo %}
        <div style="padding: 0 30%;">
            <a href="{% url 'inscricoes_submit' pk=inscricao.pk %}" class="botao"><button type="button" onclick="return confirm('{% trans "Você salvou os formulários de projeto e equipe?" %}')" />{% trans 'enviar proposta' %}</button></a>
        </div>
        {% else %}
        <p class="texto confirmacao">{% trans 'Prazo encerrado' %}</p>
        {% endif %}
    {% endif %}
</div>

<div class="post">
    <p class="form">
        {% trans 'Nome' %}<br>
        <b>{{ inscricao.nome }} {{ inscricao.sobrenome }}</b><br><br>
        E-mail<br>
        <b>{{ inscricao.email }}</b><br><br>
        {% trans 'Área de atuação profissional' %}<br>
        <b>{{ inscricao.select_verbose }}</b><br><br><br><br>


    {% for field in dados_form %}
        {{ field.label }}<br><b>
        {% if field.name == 'nascimento'%}
            {{ field.value }}
        {% elif field.name == 'estado'%}
            {{ field.value|upper }}
        {% elif field.name == 'pais' %}
            {{ dados_form.instance.select_verbose }}
        {% else %}
            {{ field.value|title }}
        {% endif %}</b><br><br>
    {% endfor %}
    </p>
</div>
{% espaco borda='linha_' %}
