{% load i18n %}
{% load outras_tags %}

<div class="cartaz linha">
	<p class="titulo">{{ cartaz.titulo|linebreaksbr }}</p>
</div>

<div class="cartaz coluna" style="width: 60%;">
	<div class="post linha">
		<p class="texto">{{ cartaz.texto|paragrafo }}</p>
	</div>
	<div class="post linha">
		<p class="titulo_" id="{% trans 'juri' %}">júri</p>
		{% for juri in jurados %}
			<p class="titulo_lista">
			{% if juri.site %}
				<a href="{{ juri.site }}" target="_blank">{{ juri }}</a>
			{% else %}
				{{ juri }}
			{% endif %}
			</p>
			<p class="texto" style="margin-bottom: 60px;">{{ juri.bio }}</p>
		{% endfor %}
	</div>
</div>

<div class="cartaz" style="width: 40%;">
	<div class="linha post" id="{% trans 'arquivos' %}">
		<p class="titulo_">arquivos adicionais</p>
		<ul>
		{% for arquivo in arquivos %}
			<li><a href="{{ arquivo.arquivo.url }}" target="_blank">{{ arquivo.arquivo|filename }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="post linha" id="{% trans 'cronograma' %}">
		<p class="titulo_">cronograma</p>
		<p class="texto">{{ cartaz.datas|formatadata }}</p>
	</div>
</div>
