{% load i18n outras_tags %}

{% get_current_language as lang %}

{% if lang == 'en' %}
	{% query arquivos 'filter' en='True' as arquivos %}
{% else %}
	{% query arquivos 'filter' en='False' as arquivos %}
{% endif %}


{% espaco %}
<div class="cartaz linha">
	<p class="titulo">
		{% if lang == 'en' and cartaz.titulo_en %}
			{{ cartaz.titulo_en|linebreaksbr }}
		{% else %}
			{{ cartaz.titulo|linebreaksbr }}
		{% endif %}
	</p>
</div>

<div class="cartaz coluna" style="width: 60%;">
	{% espaco %}
	<div class="post linha">
		<p class="texto">
			{% if lang == 'en' and cartaz.texto_en %}
				{{ cartaz.texto_en|linebreaksbr }}
			{% else %}
				{{ cartaz.texto|linebreaksbr }}
			{% endif %}
		</p>
	</div>

	<div class="post">
		<p class="titulo_" id="{% trans 'juri' %}">{% trans 'júri' %}</p>
		{% for juri in jurados %}
			<p class="titulo_lista">
			{% if juri.site %}
				<a href="{{ juri.site }}" target="_blank">{{ juri }}</a>
			{% else %}
				{{ juri }}
			{% endif %}
			</p>
			<p class="texto" style="margin-bottom: 60px;">
				{% if lang == 'en' and juri.bio_en %}
					{{ juri.bio_en|linebreaksbr }}
				{% else %}
					{{ juri.bio|linebreaksbr }}
				{% endif %}
			</p>
		{% endfor %}
	</div>

</div>

<div class="cartaz" style="width: 40%;">
	
	<div class="linha post" id="{% trans 'arquivos' %}">
		<p class="titulo_">{% trans 'arquivos adicionais' %}</p>
		<ul>
		{% for arquivo in arquivos %}
			<li><a href="{{ arquivo.arquivo.url }}" target="_blank">{{ arquivo.arquivo|filename }}</a></li>
		{% endfor %}
		</ul>
	</div>
	{% espaco %}

	<div class="post linha" id="{% trans 'cronograma' %}">
		<p class="titulo_">{% trans 'cronograma' %}</p>
		<p class="texto">
			{% if lang == 'en' and cartaz.datas_en %}
				{{ cartaz.datas_en|formatadata }}
			{% else %}
				{{ cartaz.datas|formatadata }}
			{% endif %}
		</p>
	</div>

</div>
{% espaco borda='linha_' %}
