{% load i18n outras_tags %}

{% query inscricoes 'exclude' finalizada=None as inscricoes_ %}

{% espaco %}

{% if user.is_authenticated %}
	<div class="cartaz linha">
		<p class="titulo">inscrições</p>
	</div>
	<table class="respostas form linha">
		<tr>
			<td class="espaco"></td>
		</tr>
		<tr>
			<th style="width:220px;">finalizadas<span style="font-weight: normal;"> {% hifen %} total</span></th>
			<th style="width:40px;">{{ inscricoes_.count }}</th>
			<td> {% hifen %} {{ inscricoes.count }}</td>
		</tr>
		{% for item,valores in dados %}
			<tr>
				<td>{{item}}</td>
			</tr>
			{% for nome,finalizada,total in valores %}
				<tr>
					<th>{{forloop.counter}}. {{ nome|formatapalafita }}</th>
					<th>{{ finalizada }}</th>
					<td> {% hifen %} {{ total }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>

	{% espaco borda='' %}
{% endif %}
