{% load i18n outras_tags %}

{% query inscricoes 'exclude' finalizada=None as inscricoes_ %}
{% query dados 'filter' inscricao__in=inscricoes_ as dados_ %}
{% query projetos 'filter' inscricao__in=inscricoes_ as projetos_ %}

{% espaco %}

{% if user.is_authenticated %}
	<div class="cartaz linha">
		<p class="titulo">inscrições</p>
	</div>
	<table class="respostas form linha">
		<tr>
			<td class="espaco"></td>
		</tr>
		<tr>
			<th style="width:220px;">finalizadas<span style="font-weight: normal;"> {% hifen %} total</span></th>
			<th style="width:40px;">{{ inscricoes_.count }}</th>
			<td> {% hifen %} {{ inscricoes.count }}</td>
		</tr>
		<tr>
			<td>paises</td>
		</tr>
		{% for item in dados %}
			{% ifchanged item.pais %}
				<tr>
					<th>{{ item.select_verbose }}</th>
					<th>{% query dados_ 'filter' pais=item.pais as total %}{{ total.count }}</th>
					<td> {% hifen %} {% query dados 'filter' pais=item.pais as total %}{{ total.count }}</td>
				</tr>
			{% endifchanged %}
		{% endfor %}
		<tr>
			<td>palafitas</td>
		</tr>
		{% for palafita,nome in palafitas %}
			<tr>
				<th>{{ palafita }} {{ nome|formatapalafita }}</th>
				<th>{% query projetos_ 'filter' palafita=palafita as total %}{{ total.count }}</th>
				<td> {% hifen %} {% query projetos 'filter' palafita=palafita as total %}{{ total.count }}</td>
			</tr>
		{% endfor %}
	</table>

	{% espaco borda='' %}
{% endif %}
