{% extends 'o_t/base.html' %}
{% load i18n outras_tags %}

{% block menu %}
	{% if user.is_authenticated %}
		<div class="linha menu">
			<a href="{% url 'faq_edit' %}" class="botao"><button type="button">editar</button></a>
		</div>
	{% endif %}
{% endblock %}


{% block c1 %}
	{% include 'o_t/respostas.html' %}
{% endblock %}


{% block c2 %}
	{% espaco %}

	{% if blocos %}
		<div class="post linha">
			<p class="titulo_">{% trans 'blocos de respostas' %}</p>
			<table class="form notas" style="padding: 0;">
				{% for bloco in blocos %}

					{% if lang == 'en' and bloco.slug_en %}
						{% url 'bloco_slug' slug=bloco.slug_en as bloco_link %}	
					{% elif bloco.slug %}
						{% url 'bloco_slug' slug=bloco.slug as bloco_link %}
					{% else %}
						{% url 'faq' pk=bloco.pk as bloco_link %}	
					{% endif %}

					<tr>
						<td style="width: 80px;">
							{% if lang == 'en' %}
								{{ bloco.data1|date:'m_d_Y'}}
							{% else %}
								{{ bloco.data1|date:'d_m_Y'}}
							{% endif %}				
						</td>
						<td class="texto"><a href="{{ bloco_link }}">
							{% if lang == 'en' and bloco.nome_en %}
								{{ bloco.nome_en }}
							{% else %}
								{{ bloco }}
							{% endif %}				
						</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}

	{% if confirmacao %}
		<div class="post linha">
			<p class="texto"><b>{% trans 'consulta enviada' %}</b></p>
		</div>
	{% endif %}

	<div class="post" style="padding-bottom: 0px;">
		<p class="titulo_">{% trans 'consultas' %}</p>
		<p class="texto">
			{% trans 'Outras consultas podem ser realizadas por meio do formulário a seguir e serão respondidas em blocos nesta seção.' %}
		</p>
	</div>

	<table class="form inscricao linha">
		<form method="POST">
			{% csrf_token %}
			{{ consulta_form }}
			<tr><td class="espaco"></td></tr>
			<tr>
				<td></td>
				<td><button type="submit">{% trans 'enviar' %}</button></td>
			</tr>
		</form>
	</table>

	{% espaco borda='' %}
{% endblock %}
