{% load i18n outras_tags %}

{% get_current_language as lang %}

<table class="form linha_" {% borda %}>
    <form method="POST" >
    	{% csrf_token %}

        {% for field in form %}
            {% if field.name == 'traducao' %}
            <tr><td class="espaco"></td></tr>
            {% endif %}
            <tr>
                <th style="width: 119px;">{{ field.label_tag }}</th>
                <td colspan="2">{{ field }}{{ field.errors }}{{ field.help_text }}</td>
            </tr>
        {% endfor %}
        <tr><td class="espaco"></td></tr>

        {% if nota_form %}
 
            {{ nota_form.management_form }}
            {% for form in nota_form %}
                <tr><th>{{ forloop.counter }} {% hifen peso='normal' %}</th>
                    {% if lang == 'en' and form.instance.criterio.texto_en %}
                        <td>{{ form.instance.criterio.texto_en }}</td></tr>
                    {% else %}
                        <td>{{ form.instance.criterio }}</td></tr>
                    {% endif %}
                {% for field in form %}
                    <tr><td></td><td>{{ field }}</td></tr>
                {% endfor %}
            {% endfor %}

            <tr><td></td><td>
                <button type="submit" name='juri_save'>{% trans 'salvar' %}</button>
                {% if proximo %}<button type="submit" name="juri_proximo">{% trans 'próximo' %}</button>{% endif %}
            </td></tr>
        
        {% else %}
 
            <tr><td></td><td>
                <button type="submit">{% trans 'salvar' %}</button>
                {% if proximo %}<button type="submit" name="proximo">{% trans 'próximo' %}</button>{% endif %}
            </td></tr>
 
        {% endif %}

    </form>
</table>
