{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

<div class="cartaz linha">
	<p class="titulo">
		{% if lang == 'en' and cartaz.titulo_en %}
			{{ cartaz.titulo_en|linebreaksbr }}
		{% else %}
			{{ cartaz.titulo|linebreaksbr }}
		{% endif %}
	</p>
</div>

{% randint 30 70 as largura %}
<div class="cartaz">
	<div class="post coluna" style="width: {{ largura }}%; height: 100vh;"></div>
	<div class="post linha texto" style="width: {% cem largura %}%;">
		<p >
			{% if lang == 'en' and cartaz.texto_en %}
				{{ cartaz.texto_en|post }}
			{% else %}
				{{ cartaz.texto|post }}
			{% endif %}
		</p>
	</div>
</div>
{% espaco borda='linha_' %}
