{% load i18n outras_tags %}

{% get_current_language as lang %}

<div class="cartaz linha">
	<p class="titulo">
		{% if lang == 'en' and cartaz.titulo_en %}
			{{ cartaz.titulo_en|linebreaksbr }}
		{% else %}
			{{ cartaz.titulo|linebreaksbr }}
		{% endif %}
	</p>
</div>

{% randint 30 70 as largura %}
<div class="cartaz">
	<div class="post coluna" style="width: {{ largura }}%; height: 100vh;"></div>
	<div class="cartaz linha" style="width: {% cem largura %}%;">
		<p class="data">
			{% if lang == 'en' and cartaz.datas_en %}
				{{ cartaz.datas_en|formatadata }}
			{% else %}
				{{ cartaz.datas|formatadata }}
			{% endif %}
		</p>
	</div>
</div>
