{% extends 'o_t/base.html' %}
{% load outras_tags %}

{% block menu %}
	{% if user.is_authenticated %}
		<div class="linha menu">
			<a href="{% url 'galeria_edit' %}" class="botao"><button type="button">editar</button></a>
		</div>
	{% endif %}
{% endblock %}


{% block c1 %}
	{% if edit %}
		{% include 'o_t/cartaz_edit.html' %}
	{% else %}
		{% include 'o_t/galeria_cartaz.html' %}
	{% endif %}
{% endblock %}

{% block c2 %}
	<div class="linha" style="height: {% randint 10 90 %}vh;"></div>
{% endblock %}




