{% load i18n outras_tags %}

{% get_current_language as lang %}

<table class="form linha_" {% borda %}>
    <form method="POST" >
    	{% csrf_token %}

        {% for field in form %}
            {% if field.name == 'traducao' %}
            <tr><td class="espaco"></td></tr>
            {% endif %}
            <tr>
                <th style="width: 119px;">{{ field.label_tag }}</th>
                <td colspan="2">{{ field }}{{ field.errors }}{{ field.help_text }}</td>
            </tr>
        {% endfor %}
        <tr><td class="espaco"></td></tr>

        <tr><td></td><td>
            <button type="submit">{% trans 'salvar' %}</button>
            {% if inscricoes|proximo:projeto.inscricao %}
                <button type="submit" name="proximo">{% trans 'próximo' %}</button>
            {% endif %}
            <button type="submit" name="galeria">{% trans 'galeria' %}</button>
        </td></tr>
 
    </form>
</table>
