{% extends 'o_t/base.html' %}

{% block menu %}
{% if user.is_authenticated %}
	<div class="linha menu">
	<a href="{% url 'home_edit' %}" class="botao"><button type="button">editar home</button></a>
	</div>
{% endif %}
{% endblock %}


<!-- cartaz -->
{% block c1 %}
{% if form %}
	{% include 'o_t/cartaz_edit.html' %}
{% else %}
	{% include 'o_t/cartaz.html' %}
{% endif %}
{% endblock %}


{% block c2 %}
<!-- posts -->
<div class="frame linha" style="height: 90%;">
{% include 'o_t/notas.html' with titulo='blog' %}
</div>
<!-- midias -->
<div class="frame linha" style="height: 10%;">
{% include 'o_t/midias.html' %}
</div>
{% endblock %}
