<p class="titulo titulo_ linha">juri/edit</p>

{% if user.is_authenticated %}
	<table class="form">
		<form method="POST">
			{% csrf_token %}
			{{ juri_form.management_form }}
			{% for form in juri_form.extra_forms %}
				{{ form }}
				<tr><td class="espaco"></td></tr>
			{% endfor %}
			<tr>
				<td></td><td>
					<button type="submit" name="juri_submit">+</button>
					<button type="submit" name="juri_submit_home">salvar</button>
				</td>
			</tr>
			{% if juri_form.initial_forms %}
				<tr><td class="espaco"></td></tr>
				<tr><td class="espaco"></td></tr>
				{% for form in juri_form.initial_forms %}
					{{ form }}
					<tr><td class="espaco"></td></tr>
				{% endfor %}
				<tr>
					<td></td><td>
						<button type="submit" name="juri_submit">+</button>
						<button type="submit" name="juri_submit_home">salvar</button>
					</td>
				</tr>
			{% endif %}
		</form>
	</table>
{% endif %}