{% load i18n outras_tags %}

{% get_available_languages as languages %}

{% espaco 30 60 %}


<div class="menu_celular">
	<div class="linha menu">
		<p>
			{% for lang_code, lang_name in languages %}
			    <a href="{% change_lang lang_code %}">{{ lang_name }}</a>
			    {% if not forloop.last %} / {% endif %}
			{% endfor %}
		</p>
	</div>
	<div class="linha menu celular">
		<p>
			<a href="https://www.facebook.com/outrosterritorios" target="_blank">facebook</a>
			 / 
			<a href="https://www.instagram.com/outrosterritorios" target="_blank">instagram</a>
		</p>
	</div>
</div>

<div class="linha menu menu_celular" style="border-left: none;">
	{% for item, item_url, info in menu %}
		{% if info %}
			<p class="submenu_hover"><a href="{{ item_url }}">{{ item }}</a></p>
			<div class="submenu">
				{% for subitem, anchor in info %}
					<p><a href="{{ item_url }}#{{ anchor }}">{{ subitem }}</a></p>
				{% endfor %}
			</div>
		{% else %}
			<p><a href="{{ item_url }}">{{ item }}</a></p>
		{% endif %}
		{% if forloop.last %}<p></p>{% endif %}
	{% endfor %}
</div>

<div class="linha menu esconde">
	<p>
		<a href="https://www.facebook.com/outrosterritorios" target="_blank">facebook</a>
		 / 
		<a href="https://www.instagram.com/outrosterritorios" target="_blank">instagram</a>
	</p>
</div>

{% if user.is_authenticated %}
	<div class="linha menu">
		<p class="texto">conectado: {{ user.username }}</p>
		<a href="{% url 'logout' %}" class="botao"><button type="button">sair</button></a>
	</div>
{% endif %}
