

<div class="linha menu">
	<a href="">pt</a> / <a href="">en</a>
</div>

<div class="linha menu">
{% for item, item_url, info in menu %}
	{% if info %}
		<p class="submenu_hover"><a href="{{ item_url }}">{{ item }}</a></p>
		<div class="submenu">
		{% for subitem, anchor in info %}
			<p><a href="{{ item_url }}#{{ anchor }}">{{ subitem }}</a></p>
		{% endfor %}
		</div>
	{% else %}
		<p><a href="{{ item_url }}">{{ item }}</a></p>
	{% endif %}
{% endfor %}
</div>

<div class="linha menu">
	<p><a href="">facebook</a> / <a href="">instagram</a></p>
</div>

{% if user.is_authenticated %}
<div class="linha menu">
<p>conectado: {{ user.username }}</p>
<a href="{% url 'logout' %}" class="botao"><button type="button">sair</button></a>
</div>
{% endif %}
