{% load i18n outras_tags %}

{% get_current_language as lang %}

{% if lang == 'en' and nota.titulo_en and nota.texto_en %}
	{% set nota.titulo_en as titulo %}
	{% set nota.texto_en as texto %}
{% else %}
	{% set nota.titulo as titulo %}
	{% set nota.texto as texto %}
{% endif %}

{% imgs_post nota as imgs %}

<div class="post">
	{% if user.is_authenticated %}
		<div class="menu">
			<a href="{% url 'nota_edit' pk=nota.pk %}" class="botao"><button type="button">editar</button></a>
			<a href="{% url 'nota_remove' pk=nota.pk %}" class="botao"><button type="button">deletar</button></a>
			{% if not nota.data1 %}
			    <a href="{% url 'nota_publish' pk=nota.pk %}" class="botao"><button type="button">publicar</button></a>
			{% endif %}
		</div>
	{% endif %}
	<p class="titulo_">
		{% if nota_link %}
			<a href="{{ nota_link }}">{{ titulo }}</a>
		{% else %}
			{{ titulo }}
		{% endif %}
	</p>
	<p class="texto">
		{{ texto|post:imgs }}
	</p>
    {% if nota.data1 %}
        <p class="data_">____<br><br>{% trans 'publicado em' %} {{ nota.data1 }}</p>
    {% endif %}
    {% if nota.tags.all %}
		<ul class="menu tags"><br>
	    	{% for tag in nota.tags.all %}
				<li><a href="{% url 'blog_tag' tag=tag.tag  %}">#{{ tag }}</a></li>
			{% endfor %}
		</ul>
    {% endif %}
</div>
