{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

<div class="cartaz linha">
	<p class="titulo">{{ titulo }}</p>
</div>
{% for nota in notas %}
	{% if forloop.first %}
		{% espaco 60 120 %}
	{% else %}
		{% espaco 80 180 borda='linha linha_' %}
	{% endif %}
	{% if lang == 'en' and nota.slug_en %}
		{% url 'blog_slug' slug=nota.slug_en as nota_link %}
	{% elif nota.slug %}
		{% url 'blog_slug' slug=nota.slug as nota_link %}	
	{% else %}
		{% url 'blog' pk=nota.pk as nota_link %}	
	{% endif %}
	{% include 'o_t/nota.html' with link=nota_link %}
	{% if forloop.last %}
		{% espaco borda='linha_' %}
	{% endif %}
{% endfor %}
