<div class="post">
	<p class="titulo_">{{ titulo }}/{{ titulo_|default:'arquivo'}}</p>
	<table class="form notas" style="padding: 0;">
	{% for nota in notas %}
		{% ifchanged nota.data1.year %}
			<tr>
				<td>{{ nota.data1.year }}</td>
			</tr>
		{% endifchanged %}
		<tr>
			<th style="width: 80px; padding-right: 10px; font-weight: normal;">{{ nota.data1|date:'d_m'}}</th>
			<td class="titulo_lista"><a href="{% url 'blog' pk=nota.pk %}">{{ nota.titulo }}</a></td>
		</tr>
	{% endfor %}
	</table>
</div>
