{% load i18n outras_tags %}

{% get_current_language as lang %}

{% if lang == 'en' and nota.titulo_en and nota.texto_en %}
	{% set nota.titulo_en as titulo %}
	{% set nota.texto_en as texto %}
{% else %}
	{% set nota.titulo as titulo %}
	{% set nota.texto as texto %}
{% endif %}

{% imgs_post nota as imgs %}

<div class="post">
	{% if user.is_authenticated %}
		<div class="menu">
			<a href="{% url 'nota_edit' pk=nota.pk %}" class="botao"><button type="button">editar</button></a>
			<a href="{% url 'nota_remove' pk=nota.pk %}" class="botao"><button type="button">deletar</button></a>
			{% if not nota.data1 %}
			    <a href="{% url 'nota_publish' pk=nota.pk %}" class="botao"><button type="button">publicar</button></a>
			{% endif %}
		</div>
	{% endif %}
	<p class="titulo_">
		{% if nota_link %}
			<a href="{{ nota_link }}">{{ titulo }}</a>
		{% else %}
			{{ titulo }}
		{% endif %}
	</p>
	<p class="texto">
		{{ texto|post:imgs }}
	</p>
    {% if nota.data1 %}
        <p class="data_">____<br><br>{% trans 'publicado em' %} {{ nota.data1 }}</p>
    {% endif %}
    {% if nota.tags.all %}
		<ul class="menu tags"><br>
	    	{% for tag in nota.tags.all %}
				{% if lang == 'en' %}
					{% set tag.tag_en as tag %}
				{% else %}
					{% set tag.tag as tag %}
				{% endif %}
				<li><a href="{% url 'blog_tag' tag=tag %}">#{{ tag }}</a></li>
			{% endfor %}
		</ul>
    {% endif %}
	<!-- AddToAny BEGIN -->
	{% if not nota_link %}
		{% if lang == 'en' and nota.slug_en %}
			{% url 'blog_slug' slug=nota.slug_en as nota_link %}
		{% elif nota.slug %}
			{% url 'blog_slug' slug=nota.slug as nota_link %}
		{% else %}
			{% url 'blog' pk=nota.pk as nota_link %}	
		{% endif %}
	{% endif %}
	<div class="a2a_kit a2a_kit_size_32 a2a_default_style cartaz tags" data-a2a-url="{{ request.scheme }}://{{ request.get_host }}{{ nota_link }}" data-a2a-title="{% trans 'Outros Territórios' %}_{{ titulo }}" data-a2a-icon-color="var(--cinza),white">
	    <a class="a2a_button_facebook botao"></a>
		<!-- <a class="a2a_button_google_plus botao""></a> -->
		<a class="a2a_button_twitter botao""></a>
		<!-- <a class="a2a_button_whatsapp botao""></a> -->
		<a class="a2a_button_email botao""></a>
	</div>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	<!-- AddToAny END -->
</div>
