{% load outras_tags %}

<div class="cartaz">
	<p class="titulo">{{ titulo }}</p>
</div>
{% for nota in notas %}
	<div class="post linha_">
		<p class="titulo_"><a href="{% url 'blog' pk=nota.pk %}">{{ nota.titulo }}</a></p>
		{% if nota.imagem %}
			</div>
				<img src="{{ nota.imagem.url }}" alt="{{ img }}" style="margin-top: -80px;">
			<div class="post">
		{% endif %}
		<p class="data_">{{ nota.data1|date:"d_m_Y" }}</p>
		<p class="texto">{{ nota.texto|linebreaksbr }}</p>
	</div>
{% endfor %}
