<div class="cartaz linha">
	<p class="titulo titulo_" style="margin-bottom: 0;">blog_add/edit</p>
</div>


{% if user.is_authenticated %}
<table class="form">
	<form method="POST" enctype="multipart/form-data">
		<tr>
			<th>bold:</th>
			<td>[[ b = texto em bold ]]</td>
		</tr>
		<tr>
			<th>img:</th>
			<td>[[ img = nome ]] *nome = nome da imagem</td>
		</tr>
		<tr>
			<th>grayscale:</th>
			<td>[[ img = nome|100 ]] *0-100 = porcentagem grayscale</td>
		</tr>
		<tr>
			<th>link:</th>
			<td>[[ nome = https://www.google.com ]] *nome = output do link </td>
		</tr>
		<tr>
			<th>corte:</th>
			<td>[[ + ]]</td>
		</tr>
		<tr><th>__</th></tr>
		<tr><td class="espaco"></td></tr>
		{% if nota and nota.slug%}
			<tr>
				<th>slug:</th>
				<td>{{ nota.slug }}</td>
			</tr>
		{% endif %}

		{% csrf_token %}
		{% for field in nota_form %}
			{% if field.name == 'titulo_en' or field.name == 'tags' or field.name == 'data1' %}
				<tr><td class="espaco"></td></tr>
			{% endif %}
			{% if field.name == 'titulo_en' and nota and nota.slug_en %}
				<tr>
					<th>slug en:</th>
					<td>{{ nota.slug_en }}</td>
				</tr>
			{% endif %}
			<tr>
				<th>{% if field.field.required %}*{% endif %}{{ field.label_tag }}</th>
				<td>{{ field }} {{ field.errors }}</td>
				{% if field.help_text %}
					<tr>
						<th></th>
						<td>{{ field.help_text }}</td>
					</tr>
				{% endif %}
			</tr>
		{% endfor %}

		<tr><td class="espaco"></td></tr>
		{{ imagem_form.management_form }}
		{% for form in imagem_form %}
			{{ form }}
			<tr><td class="espaco"></td></tr>
		{% endfor %}
		<td></td>
		<td>
			<button type="submit" name="nota_submit">+</button>
			<button type="submit" name="nota_submit_home">salvar</button>
		</td>
	</form>
</table>
{% endif %}

