{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

{% if blocos %}
	<div class="post linha">
		<p class="titulo_">{% trans 'blocos de respostas' %}</p>
		<table class="form notas" style="padding: 0;">
			{% for bloco in blocos %}

				{% if lang == 'en' and bloco.slug_en %}
					{% url 'bloco_slug' slug=bloco.slug_en as bloco_link %}	
				{% elif bloco.slug %}
					{% url 'bloco_slug' slug=bloco.slug as bloco_link %}
				{% else %}
					{% url 'faq' pk=bloco.pk as bloco_link %}	
				{% endif %}

				<tr>
					<td style="width: 80px;">
						{% if lang == 'en' %}
							{{ bloco.data1|date:'m_d_Y'}}
						{% else %}
							{{ bloco.data1|date:'d_m_Y'}}
						{% endif %}				
					</td>
					<td class="texto"><a href="{{ bloco_link }}">
						{% if lang == 'en' and bloco.nome_en %}
							{{ bloco.nome_en }}
						{% else %}
							{{ bloco }}
						{% endif %}				
					</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}

