{% if blocos %}
<div class="post linha">
	<p class="titulo_">blocos de respostas</p>
	<table class="form notas" style="padding: 0;">
	{% for bloco in blocos %}
		<tr>
			<td style="width: 90px;">{{ bloco.data1|date:'d_m_Y'}}</td>
			<td class="titulo_lista"><a href="{% url 'faq' pk=bloco.pk %}">{{ bloco }}</a></td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endif %}

{% if confirmacao %}
	<p class="data linha">consulta enviada</p>
{% endif %}

<div class="post" style="padding-bottom: 0px;">
	<p class="titulo_">consultas</p>
	<p class="texto">Outras consultas podem ser realizadas por meio do formulário a seguir e serão respondidas em blocos nesta seção.</p>
</div>
<table class="form inscricao linha" >
	<form method="POST">
		{% csrf_token %}
		{{ form }}
		<tr><td class="espaco"></td></tr>
	<tr>
		<td></td>
		<td><button type="submit">enviar</button></td>
	</tr>
	</form>
</table>
