<div class="post linha" id="inscricoes">
	<p class="titulo_">inscrições</p>
	<p class="texto">texto com instruçoes pras inscrições</p>
</div>
<table class="form inscricao" >
<form method="POST" >
	{% csrf_token %}
	{% for field in inscricao_form %}
		{% if field.name != 'termos' %}
			<tr>
				<th>{{ field.label_tag }}</th>
				<td>{{ field }}</td>
			</tr>
		{% else %}
			<tr><td class="espaco"></td></tr>
			{{ dados_form }}
			<tr><td class="espaco"></td></tr>
			<tr>
				<th>{{ field }}</th>
				<td class="termos">{{ field.label_tag }}</td>
			</tr>
		{% endif %}
	{% endfor %}

<tr><td class="espaco"></td></tr>
<tr>
	<td></td>
	<td><button type="submit" name='inscricao_submit'>inscrever</button></td>
</tr>
</form>
</table>
