{% load i18n %}
<div class="post linha" id="{% trans 'inscricoes' %}">
	<p class="titulo_">inscrições</p>
	<p class="texto">As inscrições devem ser realizadas através do formulário a seguir. <br><br>
	As equipes deverão se inscrever somente uma vez, utilizando as informações do membro responsável. <br><br>
	Um link e instruções para submissão das propostas serão enviados para o email fornecido – <b>caso haja a necessidade de reenvio destas informações, favor utilizar o campo ao final da página.</b></p>
</div>
<table class="form inscricao linha" >
<form method="POST" >
	{% csrf_token %}
	{% for field in inscricao_form %}
		{% if field.name != 'termos' %}
			<tr>
				<th>{{ field.label_tag }}</th>
				<td>{{ field }}</td>
			</tr>
		{% else %}
			<tr><td class="espaco"></td></tr>
			{{ dados_form }}
			<tr><td class="espaco"></td></tr>
			<tr>
				<th>{{ field }}</th>
				<td class="termos">{{ field.label_tag }}</td>
			</tr>
		{% endif %}
	{% endfor %}

<tr><td class="espaco"></td></tr>
<tr>
	<td></td>
	<td><button type="submit" name='inscricao_submit'>inscrever</button></td>
</tr>
</form>
</table>
