{% load i18n outras_tags %}

{% get_current_language as lang %}

{% if proximo %}
	{% set False as link %}
{% else %}
	{% set True as link %}
{% endif %}

{% espaco %}

<div class="cartaz linha">
	<p class="titulo">{{ titulo }}{% if not user|grupo:'juri' %} / <a href="{% url 'galeria_dados' %}">dados</a>{% endif %}</p>
</div>


<div class="infinite-container">
	{% for inscricao in pg %}
		<div class="infinite-item">

			{% if forloop.first %}
				{% espaco 60 120 %}
			{% else %}
				{% espaco 80 180 borda='linha linha_' %}
			{% endif %}

			{% if ordem == 'media' or ordem == _('classificacao') %}
				{% ifchanged inscricao.selecao %}
					{% if inscricao.selecao == 'ok' and inscricao.selecao != feed %}
						<div class="cartaz linha">
							<p class="titulo normal">{% trans 'projetos selecionados' %}</p>
						</div>
					{% elif inscricao.selecao == 'mh' and inscricao.selecao != feed %}
						<div class="cartaz linha">
							<p class="titulo normal">{% trans 'menções honrosas' %}</p>
						</div>
					{% elif inscricao.selecao == '' and inscricao.selecao != feed %}
						<div class="cartaz linha">
							<p class="titulo normal">{% trans 'outros projetos' %}</p>
						</div>
					{% endif %}
					{% set inscricao.selecao as feed %}
				{% endifchanged %}

			{% elif ordem == _('palafita') and inscricao.projeto_set.first.palafita != feed %}
				{% ifchanged inscricao.projeto_set.first.palafita %}
					<div class="cartaz linha">
						<p class="titulo normal">{{ inscricao.projeto_set.first.palafita_verbose|formatapalafita }}</p>
					</div>
					{% set inscricao.projeto_set.first.palafita as feed %}
				{% endifchanged %}

			{% elif ordem == _('pais') and inscricao.dados_set.first.pais != feed %}
				{% ifchanged inscricao.dados_set.first.pais %}
					<div class="cartaz linha">
						<p class="titulo normal">{{ inscricao.dados_set.first.select_verbose }}</p>
					</div>
					{% set inscricao.dados_set.first.pais as feed %}
				{% endifchanged %}
			{% endif %}

			{% ifchanged inscricao.ok %}
				{% if ordem == 'data' and inscricao.ok == 'no' %}
					<div class="cartaz linha">
						<p class="titulo normal">reprovados</p>
					</div>
				{% endif %}
			{% endifchanged %}


			{% include 'o_t/projeto.html' with link=link %}
			
			{% if form %}
				{% include 'o_t/galeria_form.html' %}
			{% elif proximo %}
				<div class="linha_ menu" {% borda %}>
					<br>
					<a href="{% url 'galeria_projeto' codigo=proximo.codigo ordem=ordem %}" class="botao"><button type="button">{% trans 'próximo' %}</button></a>
					<a href="{% url 'galeria' ordem=ordem %}" class="botao"><button type="button">{% trans 'galeria' %}</button></a>
				</div>
			{% endif %}

			{% if forloop.last %}
				{% espaco borda='linha_' %}
			{% endif %}
		</div>
	{% endfor %}
</div>

{% if pg.has_next %}
	<a class="infinite-more-link" href="?page={{ pg.next_page_number }}">{% trans 'ver mais' %}</a>
{% endif %}

<div class="loading" style="display: none;">{% trans 'carregando...' %}</div>

<script>
	var infinite = new Waypoint.Infinite({
	  element: $('.infinite-container')[0],
	  onBeforePageLoad: function () {
	    $('.loading').show();
	  },
	  onAfterPageLoad: function ($items) {
	    $('.loading').hide();
	  }
	});
</script>
