{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

{% if user.is_authenticated %}
	<div class="post linha">
		{% if projeto.nome %}
			<p class='titulo' style="text-align: left;">{{ projeto.nome }}<br><span class="titulo_" style="font-weight: normal;">{{ projeto.palafita_verbose|formatapalafita }}</span></p>
		{% endif %}
		{% if projeto.img %}
			<img src="{{ projeto.img.url }}" alt="{{ projeto.nome }}" class="img_post">
		{% endif %}
		<p class="data_">
			{% trans 'Código de identificação' %} <b>{{ projeto.inscricao.codigo }}</b><br>
			{% trans 'Enviado em' %} <b>
				{% if projeto.inscricao.finalizada %}
					{{ projeto.inscricao.finalizada }}
				{% else %}
					----
				{% endif %}</b>
		</p>
		{% if projeto.texto %}
			<p class="texto margem">{{ projeto.texto|linebreaksbr }}</p>
		{% endif %}
		<p class="menu margem">
			{% if projeto.arquivo %}
				<a href="{{ projeto.arquivo.url }}" target="_blank">{% trans 'ver arquivo' %}</a>
			{% else %}
				----
			{% endif %}<br>
		</p>
	</div>
{% endif %}

{% espaco borda='' %}