{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

<div class="post respostas">
	<p class="titulo_">projetos<br>
		<span class="menu">
			<span style="font-weight: normal">ordem </span> 
			{{ ordem }}
			{% ordem ordem request.user ativo as ordem_lista %}
			{% for tipo in ordem_lista %}
				 / <a href="{% url 'galeria' ordem=tipo %}" style="border-bottom:none;">{{ tipo }}</a>
			{% endfor %}
		</span><br>
	</p>

	<ul class="titulo_lista">
	{% for inscricao in inscricoes %}
		{% if ativo or not user|grupo:'juri' %}
			{% if ordem == 'media'%}
				{% ifchanged inscricao.selecao %}
					{% if not forloop.first %}
						</ul>
						</div>
						<div class="post linha_ respostas" {% borda %}>
					{% endif %}

					{% if inscricao.selecao == 'mh' %}
						<p class="titulo__">menção honrosa</p>
					{% elif inscricao.selecao == 'ok' %}
						<p class="titulo__">selecionados</p>
					{% endif %}

					{% if not forloop.first %}
						<ul class="titulo_lista">
					{% endif %}
				{% endifchanged %}
			{% elif ordem == 'palafita' %}
				{% ifchanged inscricao.projeto_set.first.palafita %}
					{% if not forloop.first %}
						</ul>
						</div>
						<div class="post linha_ respostas" {% borda %}>
					{% endif %}

					<p class="titulo__">{{ inscricao.projeto_set.first.palafita_verbose|formatapalafita }}</p>

					{% if not forloop.first %}
						<ul class="titulo_lista">
					{% endif %}
				{% endifchanged %}
			{% endif %}
		{% endif %}

		{% ifchanged inscricao.ok %}{% if ordem == 'data' and inscricao.ok == 'no' %}
			</ul>
			</div>
			<div class="post linha_ respostas" {% borda %}>
			<p class="titulo_">reprovados</p>
			<ul class="titulo_lista">
		{% endif %}{% endifchanged %}

		<li>
			<span style="font-weight: normal;">{{ forloop.counter }}.</span>
			<a href="{% url 'galeria_projeto' codigo=inscricao.codigo ordem=ordem %}"
				{% if inscricao.selecao == 'ok' %}
					style="border-bottom-color: #f0f;"
				{% elif inscricao.selecao == 'mh' %}
					style="border-bottom-color: #00f;"
				{% endif %}
			>{{inscricao.projeto_set.first.nome}}</a>
			<span class="form">
				{% if not user|grupo:'juri' %}
					{% set inscricao.ok as selecionado %}
					{% if selecionado == 'no' %}
						<span style="color: #f00">X</span>
					{% elif selecionado == '-' %}
						<span style="color: #00ffff">O</span>
					{% endif %}
				{% endif %}
				{% if not user|grupo:'juri' or ordem == 'media' or ordem == 'palafita' %}
					[{{ inscricao.media|floatformat }}]
						{% query inscricao.avaliacaojuri_set.all 'exclude' texto='' as texto %}
						{% if inscricao.s2 %}<span style="color:#f0f;"> {{ inscricao.s2 }}★</span>{% endif %}
						{% if texto %}<span style="color:#00f;"> {{ texto.count }}☰</span>{% endif %}
				{% else %}
					{% query inscricao.avaliacaojuri_set.all 'filter' get=True juri=request.user as avaliacao %}
					{% if not avaliacao.nota %}<span style="color: #00ffff"> O</span>
						{% else %}[{{ avaliacao.nota|floatformat }}]{% endif %}
					{% if avaliacao.s2 %}<span style="color:#f0f;"> ★</span>{% endif %}
					{% if avaliacao.texto %}<span style="color:#00f;"> ☰</span>{% endif %}
				{% endif %}
			</span>
		</li>
	{% endfor %}
	</ul>
</div>

{% espaco borda='linha_' %}

