{% load i18n outras_tags %}

{% get_current_language as lang %}

{% set inscricao|projeto as projeto %}

<div class="post">
	{% if projeto.nome or projeto.palafita %}
		<p class='titulo' style="text-align: left;">
			{% if link %}
				<a href="{% url 'galeria_projeto' codigo=projeto.inscricao.codigo ordem=ordem %}">{{ projeto.nome }}</a>
			{% else %}
				{{ projeto.nome }}
			{% endif %}
			<br><span class="titulo_" style="font-weight: normal;">{{ projeto.palafita_verbose|formatapalafita }}</span></p>
	{% endif %}
	{% if projeto.img %}
		<img src="{{ projeto.img.url }}" alt="{{ projeto.nome }}" class="img_post">
	{% endif %}
	<p class="data_">
		{% trans 'Código de identificação' %} <b>{{ projeto.inscricao.codigo }}</b><br>
		{% if not user|grupo:'juri' %}
			{% trans 'Enviado em' %} <b>
				{% if projeto.inscricao.finalizada %}
					{{ projeto.inscricao.finalizada }}
				{% else %}
					{% hifen %}
				{% endif %}</b>
		{% endif %}
	</p>
	{% if projeto.texto %}
		<p class="texto margem">{{ projeto.texto|linebreaksbr }}</p>
	{% endif %}
	
	{% if projeto.arquivo %}
		<p class="menu margem"><a href="{{ projeto.arquivo.url }}" target="_blank">{% trans 'arquivo' %}</a></p>
	{% endif %}

	{% if inscricoes %}
		{% if ativo or not user|grupo:'juri'%}
			<div class="dados">{% include 'o_t/projeto_dados.html' %}</div>
		{% endif %}
	{% endif %}
</div>



