{% load i18n outras_tags %}

{% get_current_language as lang %}

{% set inscricao|projeto as projeto %}

<div class="post">
	{% if projeto.nome or projeto.palafita %}
		<p class='titulo' style="text-align: left;">
			{% if inscricao.ordem_set.all %}
				{% if link %}
					{{ inscricao.ordem_set.first.ordem }}
				{% else %}
					<span class="normal">{{ inscricao.ordem_set.first.ordem }}</span>
				{% endif %}
			{% endif %}

			{% if link %}
				<a href="{% url 'galeria_projeto' codigo=projeto.inscricao.codigo ordem=ordem %}">{{ projeto.nome }}</a>
			{% else %}
				{{ projeto.nome }}
			{% endif %}
			<br><span class="titulo__"">{{ projeto.palafita_verbose|formatapalafita }}</span></p>
	{% endif %}
	{% if projeto.img %}
		<img src="{{ projeto.img.url }}" alt="{{ projeto.nome }}" class="img_post">
	{% endif %}
	<p class="data_">
		{% trans 'Autor' %} <b>{{ inscricao.nome|title }} {{ inscricao.sobrenome|title }}</b><br>
		{% if inscricao.equipe_set.all %}
		{% trans 'Equipe' %} <b>
			{% for pessoa in inscricao.equipe_set.all %}{{ pessoa.nome|title }} {{ pessoa.sobrenome|title }}{% if not forloop.last %}</b>, <b>{% endif %}{% endfor %}</b><br>
		{% endif %}
		{% trans 'País' %} <b>{{ inscricao.dados_set.first.select_verbose }}</b><br>

		{% if not user|grupo:'juri' %}
			{% trans 'Código de identificação' %} <b>{{ projeto.inscricao.codigo }}</b><br>
			{% trans 'Enviado em' %} <b>
				{% if projeto.inscricao.finalizada %}
					{{ projeto.inscricao.finalizada }}
				{% else %}
					{% hifen %}
				{% endif %}</b>
		{% endif %}
	</p>
	{% if projeto.texto %}
		<p class="texto margem">{{ projeto.texto|linebreaksbr }}</p>
	{% endif %}
	
	{% if projeto.arquivo %}
		<p class="menu margem"><a href="{{ projeto.arquivo.url }}" target="_blank">{% trans 'arquivo' %}</a></p>
	{% endif %}

	{% if inscricoes %}

		{% if lang == 'en' and inscricao.texto_en %}
			{% set inscricao.texto_en as texto %}
		{% elif inscricao.texto %}
			{% set inscricao.texto as texto %}
		{% endif %}
		{% if texto %}
			<div class="dados linha_" {% borda %}>
				<p class="post texto" style="margin-bottom: -39px;">
					<span class="data">{% trans 'comentários do júri' %}<br><br><br></span>
					{{ texto|linebreaksbr }}
				</p>
			</div>
		{% endif %}

		{% if user.is_authenticated and ordem == 'media' %}
			<div class="dados">{% include 'o_t/projeto_dados.html' %}</div>
		{% endif %}

	{% endif %}
</div>



