{% load i18n outras_tags %}

{% get_current_language as lang %}

{% set inscricao.avaliacaojuri_set.all as avaliacao %}

<table class="form linha_" {% borda %}>
    <tr>
        <th style="width: 119px;">{{ inscricao.media|floatformat }} {% hifen peso='normal' %}</th>
        <td><span style="font-weight: bold;">média total</span></td>
        {% if inscricao.s2 %}<th>{{ inscricao.s2 }}★</th>{% endif %}
    </tr>

    {% for nota in avaliacao %}
        {% if nota.nota %}
            <tr>
                <th>{{nota.nota}} {% hifen peso='normal' %}</th>
                <td colspan="2">{{ nota.juri.first_name }}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% query avaliacao 'exclude' texto='' as cmmts %}
    {% if cmmts %}
        <tr><td class="espaco"></td></tr>
        <tr><th>comentários</th></tr>
        {% for comentario in cmmts %}
            <tr>
                <th>{{ comentario.juri.first_name }}</th>
                <td colspan="3">{%hifen%} {{ comentario.texto }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>