{% load i18n outras_tags %}

{% get_current_language as lang %}

{% if proximo %}
	{% set False as link %}
{% else %}
	{% set True as link %}
{% endif %}

{% espaco %}

<div class="cartaz linha">
	<p class="titulo">{{ titulo }}{% if user.is_authenticated and not user|grupo:'juri' %} / <a href="{% url 'galeria_dados' %}">dados</a>{% endif %}</p>
</div>


<div class="infinite-container">
	{% for inscricao in pg %}
		<div class="infinite-item">
			{% if forloop.first %}
				{% espaco 51 91 %}
			{% else %}
				{% espaco 80 160 borda='linha linha_' %}
			{% endif %}

			{% galeria_feed ordem inscricoes inscricao %}

			{% include 'o_t/projeto.html' with link=link %}
			
			{% if form %}
				{% include 'o_t/galeria_form.html' %}
			{% elif proximo %}
				<div class="linha_ menu" {% borda %}>
					<br>
					{% if proximo != 'ultimo' %}
						<a href="{% url 'galeria_projeto' codigo=proximo.codigo ordem=ordem %}" class="botao"><button type="button">{% trans 'próximo' %}</button></a>
					{% endif %}
					<a href="{% url 'galeria' ordem=ordem %}" class="botao"><button type="button">{% trans 'galeria' %}</button></a>
				</div>
			{% endif %}

			{% if forloop.last %}
				{% espaco 51 91 borda='linha_' %}
			{% endif %}
		</div>
	{% endfor %}
</div>

{% if pg.has_next %}
	<a class="infinite-more-link" href="?page={{ pg.next_page_number }}">{% trans 'ver mais' %}</a>
{% endif %}

<div class="loading" style="display: none;">{% trans 'carregando...' %}</div>

<script>
	var infinite = new Waypoint.Infinite({
	  element: $('.infinite-container')[0],
	  onBeforePageLoad: function () {
	    $('.loading').show();
	  },
	  onAfterPageLoad: function ($items) {
	    $('.loading').hide();
	  }
	});
</script>
