{% load i18n outras_tags %}

{% get_current_language as lang %}

<table class="form linha_" {% borda %}>
    <tr>
        <th style="width: 119px;">{{ projeto.inscricao.media|floatformat }} {% hifen peso='normal' %}</th>
        <td><span style="font-weight: bold;">média total</span></td>
        <th>♥{{ projeto.inscricao.s2 }}</th>
    </tr>

    {% for nota in projeto.inscricao.avaliacaojuri_set.all %}
        {% if nota.nota %}
            <tr>
                <th>{{nota.nota}} {% hifen peso='normal' %}</th>
                <td colspan="2">{{ nota.juri }}</td>
            </tr>
        {% endif %}
    {% endfor %}

    {% set projeto|cmmt as cmmts %}
    {% if cmmts %}
        <tr><td class="espaco"></td></tr>
        <tr><th>comentários</th></tr>
        {% for comentario in cmmts %}
            <tr>
                <th>{{ comentario.juri }}</th>
                <td colspan="3">{%hifen%} {{ comentario.texto }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>