{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco %}

<div class="post linha respostas">
	<p class="titulo_">projetos</p>
	<ol class="titulo_lista">
	{% for inscricao in inscricoes|dictsort:"finalizada" %}
		<li>
			<a href="{% url 'galeria_projeto' codigo=inscricao.codigo %}" style="line-height: 22px;">{{inscricao.projeto_set.first.nome}}</a>

			{% set inscricao.ok as selecionado%}
			{% if selecionado == 'no' %}
				<span style="color: #ff00ff">X</span>
			{% elif selecionado == '-' %}
				<span style="color: #00ffff">O</span>
			{% endif %}

		</li>
	{% endfor %}
	</ol>
</div>

{% espaco borda='' %}
