<p class="titulo titulo_ linha">respostas/edit</p>

<table class="form">
	<form method="POST" >
		{% csrf_token %}
		<tr>
			<th>bold:</th>
			<td>[[ b = texto em bold ]]</td>
		</tr>
		<tr>
			<th>link:</th>
			<td>[[ nome = https://www.google.com ]] *nome = output do link </td>
		</tr>
		<tr><th>__</th></tr>
		<tr><td class="espaco"></td></tr>

		{% if faq %}
			{{ faq.management_form }}
			{% for form in faq %}
				{{ form }}
				<tr><td class="espaco"></td></tr>
			{% endfor %}
			<td></td>
			<td>
				<button type="submit" name="faq_submit">+</button>
				<button type="submit" name="faq_submit_home">salvar</button>
			</td>

		{% else %}
			{{ bloco_form }}
			{% if bloco_form.instance.slug %}
				<tr>
					<th>slug:</th>
					<td>{{ bloco_form.instance.slug }}</td>
				</tr>
			{% endif %}
			{% if bloco_form.instance.slug_en %}
				<tr>
					<th>slug en:</th>
					<td>{{ bloco_form.instance.slug_en }}</td>
				</tr>
			{% endif %}
			<tr><th>__</th></tr>
			<tr><td class="espaco"></td></tr>
			{{ respostas.management_form }}
			{% for form in respostas %}
				<tr>
					<th>e-mail:</th>
					<td>{{ form.instance.email }}</td>
				</tr>
				<tr>
					<th>consulta:</th>
					<td>{{ form.instance.consulta }}</td>
				</tr>
				{{ form }}
				<tr><td class="espaco"></td></tr>
			{% empty %}
				<tr>
					<td></td>
					<td>nenhuma consulta selecionada.</td>
				</tr>
			{% endfor %}
			<td></td>
			<td>
				<button type="submit" name="respostas_submit">salvar</button>
			</td>
		{% endif %}
	</form>
</table>
