{% load i18n outras_tags %}

{% get_current_language as lang %}

{% espaco 60 140 %}
<div class="cartaz linha">
	<p class="titulo">{{ titulo }}</p>
</div>
{% espaco %}

<div class="post linha respostas">
	<ol>
	{% for resp in respostas %}
		{% if lang == 'en' and resp.pergunta_en %}
			{% set resp.pergunta_en as pergunta %}
		{% elif resp.pergunta %}
			{% set resp.pergunta as pergunta %}
		{% else %}
			{% set resp.consulta as pergunta %}
		{% endif %}
		<li class="titulo_lista">
			<a href="{{ request.path }}#{{ pergunta|slugify }}">{{ pergunta }}</a>
		</li>
	{% endfor %}
	</ol>
</div>

<ol>
{% for resp in respostas %}
	{% if lang == 'en' and resp.pergunta_en %}
		{% set resp.pergunta_en as pergunta %}
	{% elif resp.pergunta %}
		{% set resp.pergunta as pergunta %}
	{% else %}
		{% set resp.consulta as pergunta %}
	{% endif %}
	<div class="post linha respostas" id="{{ pergunta|slugify }}">
		<li class="titulo_lista">{{ pergunta }}</li>
		<p class="texto">
			{% if lang == 'en' and resp.resposta_en %}
				{{ resp.resposta_en|post }}
			{% else %}
				{{ resp.resposta|post }}
			{% endif %}
		</p>
	</div>
{% endfor %}
</ol>
{% espaco borda='' %}
