<p class="titulo titulo_ linha"> respostas/edit</p>
<table class="form">
<form method="POST" >
	{% csrf_token %}
	{% if faq %}
		{{ faq.management_form }}
		{% for form in faq %}
			{{ form }}
			<tr><td class="linha" colspan="2"></td></tr>
		{% endfor %}
		<tr>
			<td><button type="submit" name="faq_submit">salvar</button></td>
		</tr>
	{% else %}
		{{ respostas.management_form }}
		{% for form in respostas %}
			<tr>
				<th>email:</th>
				<td>{{ form.instance.email }}</td>
			</tr>
			<tr>
				<th>consulta:</th>
				<td>{{ form.instance.consulta }}</td>
			</tr>
			{{ form }}
			<tr><td class="linha" colspan="2"></td></tr>
		{% endfor %}
		<tr>
			<td><button type="submit" name="respostas_submit">salvar</button></td>
		</tr>
	{% endif %}
</form>
</table>
