{% load i18n outras_tags %}

{% get_current_language as lang %}

<div class="cartaz linha">
	<p class="titulo">{{ titulo }}</p>
</div>

<div class="post linha titulo_lista">
	<ul>
	{% for resp in respostas %}
		<li>
			{% if resp.bloco %}
				<a href="{% url 'faq' pk=resp.bloco.pk %}#{{ resp.id }}">
			{% else %}
				<a href="{% url 'faq' %}#{{ resp.id }}">
			{% endif %}

			{% if resp.pergunta %}
				{% if lang == 'en' and resp.pergunta_en %}
					{{ resp.pergunta_en }}
				{% else %}
					{{ resp.pergunta }}
				{% endif %}
			{% else %}
				{{ resp.consulta }}
			{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>
</div>

{% for resp in respostas %}
	<div class="post linha" id="{{ resp.pk }}">
		<p class="titulo_lista">
			{% if resp.pergunta %}
				{% if lang == 'en' and resp.pergunta_en %}
					{{ resp.pergunta_en }}
				{% else %}
					{{ resp.pergunta }}
				{% endif %}
			{% else %}
				{{ resp.consulta }}
			{% endif %}
		</p>
		<p class="texto">
			{% if lang == 'en' and resp.resposta_en %}
				{{ resp.resposta_en|paragrafo }}
			{% else %}
				{{ resp.resposta|paragrafo }}
			{% endif %}
		</p>
	</div>
{% endfor %}
