<div class="cartaz linha">
	<p class="titulo titulo_" style="margin-bottom: 0;">tags/edit</p>
</div>

<table class="form">
	<form method="POST" >
		{% csrf_token %}
		{{ tag_form.management_form }}
		{% for form in tag_form.extra_forms %}
			{{ form }}
			<tr><td class="espaco"></td></tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>
				<button type="submit" name="tag_submit">+</button>
			</td>
		</tr>
		{% if tag_form.initial_forms %}
			<tr><td class="espaco"></td></tr>
			<tr><td class="espaco"></td></tr>
			{% for form in tag_form.initial_forms %}
				{{ form }}
				<tr><td class="espaco"></td></tr>
			{% endfor %}
			<tr>
				<td></td>
				<td>
					<button type="submit" name="tag_submit">salvar</button>
				</td>
			</tr>
		{% endif %}
	</form>
</table>
