body, * {
	margin: 0;
	border: none;
	box-sizing: border-box;
	font-family: var(--fonte);
	color: var(--cor);
}
a:link, a:visited, a:active, a:hover {
	color: var(--cor);
	text-decoration: none;
	border-bottom: var(--cor) solid var(--borda-link);
	font-weight: normal;
}
a:hover {
	color: var(--cor-hover);
	border-bottom: var(--cor-hover) solid var(--borda-link);
}

#tudo {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.frame {
	float: left;
	height: 100vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.coluna {
	border-right: solid var(--cor-borda) var(--borda);
}
.coluna_ {
	border-left: solid var(--cor-borda) var(--borda);
}
.linha {
	border-bottom: solid var(--cor-borda) var(--borda);
}
.linha_ {
	border-top: solid var(--cor-borda) var(--borda);
}

/* menu */
ul {
    list-style-type: none;
}
.menu {
	text-align: right;
	font-size: 16px;
	padding: 20px 20px 30px 0px;
}
.menu li {
	line-height: 30px;
}
.submenu {
	border-right: solid var(--cor-borda) var(--borda);
	padding: 10px 10px 0px 0px;
}
.submenu li {
	line-height: 25px;
}
.submenu_hover:hover ~ .submenu {
	border-right: solid var(--cor-hover) var(--borda);
}
.submenu_hover:hover ~ .submenu li {
	color: var(--cor-hover);
}

/* cartaz */
img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}
.cartaz {
	float: left;
	height: auto;
}
.titulo {
	font-weight: bold;
	font-size: 5vw;
	text-align: center;	
	padding: 30px 10px 15px;
}
.texto {
	font-family: var(--fonte-txt);
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 16px;
	padding: 40px 30px 50px 40px;	
}
.data {
	font-size: 2vw;
	padding: 40px 20px 50px 30px;	
}

/* blog */
.post {
	float: left;
	width: 100%;
	padding: 40px 25px 40px 30px;
}
.titulo_ {
	font-size: 3vw;
	margin-bottom: 16px;
}
.data_ {
	font-family: var(--fonte-txt);
	font-size: 12px;
	text-align: right;
	margin-bottom: 20px;
}
.texto_ {
	font-family: var(--fonte-txt);
	font-size: 14px;
}
table {
	width: 100%;
	padding: 30px 20px 30px 20px;	
}
th, td {
	padding: 3px;
	padding-bottom: 5px;
	line-height: calc(16px *1.6);
}
.titulo_lista {
	font-size: 16px;
}
.midias {
	text-align: center;
	padding-top: 2.5vh;
	font-size: 2vh;
}

/* form */
.form, .form * {
	font-family: var(--fonte-txt);
	font-size: var(--fonte-form-size);
	line-height: calc(var(--fonte-form-size)*1.5);
}
.form textarea, .form input {
    width: 100%;
	border: var(--cor) solid 1px;
	padding: 5px;	
}
.form input {
	height: calc(var(--fonte-form-size)*2);
}
.form th {
	text-align: right;
}
.botao, .botao:link, .botao:active, .botao:hover, .botao:visited {
	border: none;
}
button {
    cursor: pointer;
}
button:hover {
	background: var(--cor-hover);
}

