
body, * {
	margin: 0;
	border: none;
	box-sizing: border-box;
	color: var(--cor);
}
a:link, a:visited, a:active, a:hover {
	color: var(--cor-link);
	font-family: var(--fonte);
	text-decoration: none;
	border-bottom: var(--cor-link) solid var(--borda-link);
	font-weight: bold;
}
a:hover {
	color: var(--cor-hover);
	border-bottom: var(--cor-hover) solid var(--borda-link);
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
	margin-bottom: 10px;
}
#tudo {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.frame {
	float: left;
	height: 100vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.coluna {
	border-right: solid var(--cor-borda) var(--borda);
}
.coluna_ {
	border-left: solid var(--cor-borda) var(--borda);
}
.linha {
	border-bottom: solid var(--cor-borda) var(--borda);
}
.linha_ {
	border-top: solid var(--cor-borda) var(--borda);
}

/* menu */
.menu {
	text-align: right;
	padding: 3vh 1.5vw 4vh 0;
	font-size: var(--fonte-menu);
}
.menu p {
	padding-top: calc(0.5*var(--fonte-menu));
}
.submenu {
	border-right: solid var(--cor-link) var(--borda-link);
	padding: 1vh 0.8vw 0 0;
}
.submenu a:link, .submenu a:hover {
	border-bottom: none;
}
.submenu p {
	padding-top: calc(0.4*var(--fonte-menu));
	line-height: calc(0.9*var(--fonte-menu));
}
.submenu_hover:hover ~ .submenu {
	border-right: solid var(--cor-hover) var(--borda);
}

/* midias */
.midias {
	text-align: center;
	padding-top: 2.5vh;
	font-size: 2vh;
}


/* cartaz */
img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}
.cartaz {
	float: left;
	height: auto;
	width: 100%;
}
.titulo {
	font-family: var(--fonte);
	font-weight: bold;
	font-size: 4vw;
	text-align: center;	
	padding: 40px 0;
}
.data {
	font-family: var(--fonte);
	font-size: 22px;
	padding: 7vh 3vw;	
}

/* blog */
.post {
	float: left;
	width: 100%;
	padding: 60px 40px;
}
.titulo_ {
	font-family: var(--fonte);
	font-size: 2.5vw;
	margin-bottom: 50px;
	font-weight: bold;
}
.data_ {
	font-family: var(--fonte_);
	font-size: 12px;
	text-align: right;
	margin-bottom: 40px;
}
.texto {
	font-family: var(--fonte_);
	font-size: var(--fonte-texto);
}
.titulo_lista, .titulo_lista a:link {
	font-family: var(--fonte_);
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

/* form */
table {
	width: 100%;
	padding: 50px 20px;
}
.espaco {
	height: 40px;
}
.form, .form * {
	font-family: var(--fonte_);
	font-size: var(--fonte-form);
	line-height: calc(var(--fonte-form)*1.5);
}
.form a:link {
	font-family: var(--fonte_);
}
.form textarea, .form input{
    width: 110%;
	border-bottom: var(--cor) solid var(--borda-link);
	padding: 0px 10px;
	margin-bottom: 5px;
}
.form textarea {
    width: 100%;
	border-left: var(--cor) solid var(--borda-link);
}
.form select {
	border-top: var(--cor) solid var(--borda-link);
	border-right: var(--cor) solid var(--borda-link);
}
.form input[type=checkbox] {
	width: 20px;
}
.form th {
	text-align: right;
	vertical-align: baseline;
}
.botao, .botao:link, .botao:active, .botao:hover, .botao:visited {
	border: none;
}
.inscricao label {
	border-bottom: var(--cor) solid var(--borda-link);
	margin-right: -5px;
	padding: 3px 10px;
}
.termos label {
	border: 0;
	font-size: 10px;
}
.notas td, .notas th{
	padding-bottom: 10px;
}
button {
    cursor: pointer;
    background: none;
    color: var(--cor);
    font-family: var(--fonte_);
    font-size: var(--fonte-form);
    font-weight: bold;
    vertical-align: center;
    padding: 3px 10px;
	border-bottom: var(--cor) solid var(--borda-link);
	border-right: var(--cor) solid var(--borda-link);
	margin-right: 10px;
}
button:hover {
    color: var(--cor-hover);
    border:0;
	border-top: var(--cor-hover) solid var(--borda-link);
	border-left: var(--cor-hover) solid var(--borda-link);
}

