:root {
    --fonte: lehigh, sans-serif;
    --fonte_: frutiger, sans-serif;

    --fonte-titulo: 4vw;
    --fonte-titulo_: 2.5vw;
    --fonte-menu: 16px;
    --fonte-form: 13px;
    --fonte-texto: 14px;

    --azul: #B1E4E3;
    --cinza: #63666A;
    --preto: black;

    --cor: var(--preto);
    --cor-borda: var(--cinza);
    --cor-link: var(--cinza);
    --cor-hover: var(--azul);
    --cor-titulo: var(--preto);

    --borda: 14px;
    --borda-link: 2px;
}

body, * {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	color: var(--cor);
}
a:link, a:visited, a:active, a:hover {
	color: var(--cor-link);
	font-family: var(--fonte);
	text-decoration: none;
	border-bottom: var(--cor-link) solid var(--borda-link);
	font-weight: bold;
}
a:hover {
	color: var(--cor-hover);
	border-bottom: var(--cor-hover) solid var(--borda-link);
}
ul {
    list-style-type: none;
}
li {
	margin-bottom: 10px;
}

#tudo {
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.frame {
	float: left;
	height: 100vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.coluna { border-right: solid var(--cor-borda) var(--borda); }
.coluna_ { border-left: solid var(--cor-borda) var(--borda); }
.linha { border-bottom: solid var(--cor-borda) var(--borda); }
.linha_ { border-top: solid var(--cor-borda) var(--borda); }

.c0 { width: 19%; }
.c1 { width: 51%; }
.c2 { width: 30%; }

/* menu */
.menu {
	float: left;
	width: 100%;
	text-align: right;
	padding: 3vh 1.5vw 4vh 0;
	font-size: var(--fonte-menu);
}
.menu p {
	padding-top: calc(0.5*var(--fonte-menu));
}
.submenu {
	border-right: solid var(--cor-link) var(--borda-link);
	padding: 1vh 0.8vw 0 0;
}
.submenu a:link, .submenu a:hover {
	border-bottom: none;
}
.submenu p {
	padding-top: calc(0.4*var(--fonte-menu));
	line-height: calc(0.9*var(--fonte-menu));
}
.submenu_hover:hover ~ .submenu {
	border-right: solid var(--cor-hover) var(--borda);
}


/* cartaz */
img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}
.cartaz {
	float: left;
	height: auto;
	width: 100%;
}
.titulo {
	color: var(--cor-titulo);
	font-family: var(--fonte);
	font-weight: bold;
	font-size: var(--fonte-titulo);
	text-align: center;	
	padding: 6vh 0;
}
.data {
	font-family: var(--fonte);
	font-size: 21px;
}
.logos {
	width: auto; 
	margin-right: 15px; 
	vertical-align: middle;
}

/* blog */
.post {
	float: left;
	width: 100%;
	padding: 9vh 3vw;
}
.img_post{
	margin-left: -3vw;
	width: calc(100% + 6vw);
}
.titulo_ {
	color: var(--cor-titulo);
	font-family: var(--fonte);
	font-size: var(--fonte-titulo_);
	margin-bottom: 50px;
	margin-top: 10px;
	font-weight: bold;
}
.data_ {
	font-family: var(--fonte_);
	font-size: 12px;
	padding: 50px 0 0 0;
	text-align: right;
}
.texto, .texto a:link, .texto li {
	font-family: var(--fonte_);
	font-size: var(--fonte-texto);
}
.titulo_lista, .titulo_lista a:link, .titulo_lista li {
	font-family: var(--fonte_);
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 13px;
}
.tags { 
	padding: 30px 0 0 0;
}
.tags li  { 
	width: auto;
	float: left;
	display: inline;
	padding: 0 15px 0px 0;
}
.respostas {
	padding-left: 60px;
}

/* form */
table {
	width: 100%;
	padding: 50px 20px;
}
.espaco {
	height: 40px;
}
.form, .form * {
	font-family: var(--fonte_);
	font-size: var(--fonte-form);
}
.form a:link {
	font-family: var(--fonte_);
}
.form textarea, .form input {
    width: 112%;
	border-bottom: var(--cor) solid var(--borda-link);
	padding: 0px 5px;
	-webkit-border-radius: 0px;
}
.form textarea {
    width: 100%;
	border-left: var(--cor) solid var(--borda-link);
}
.form select {
	border-top: var(--cor) solid var(--borda-link);
	border-right: var(--cor) solid var(--borda-link);
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-webkit-padding: 4px 3px 0 3px;
	padding: 4px 3px 0 3px;
	background: none;
}
.form input[type=checkbox] {
	width: 20px;
}
.form th, .form td {
	line-height: calc(2*var(--fonte-form));
	vertical-align: top;
}
.form th {
	text-align: right;
}
.inscricao label {
	/*border-bottom: var(--cor) solid var(--borda-link);*/
	margin-right: -5px;
	padding-right: 10px;
	font-weight: normal;
}
@-moz-document url-prefix() {
    /*.inscricao label {padding: 1px 10px;}*/
}
.termos label {
	border: 0;
	font-size: 10px;
}
.notas td, .notas th{
	padding-top: 11px;
	padding-right: 5px;
}
.botao, .botao:link, .botao:active, .botao:hover, .botao:visited {
	border: none;
}
button, .form button {
    cursor: pointer;
    background: none;
    color: var(--cor);
    font-family: var(--fonte);
    font-size: var(--fonte-texto);
    font-weight: bold;
    vertical-align: center;
    padding: 3px 10px;
	border-top: transparent solid var(--borda-link);
	border-left: transparent solid var(--borda-link);
	border-bottom: var(--cor) solid var(--borda-link);
	border-right: var(--cor) solid var(--borda-link);
	margin-right: 10px;
}
button:hover, .form button:hover {
    border:0;
	border-top: var(--cor) solid var(--borda-link);
	border-left: var(--cor) solid var(--borda-link);
	border-bottom: transparent solid var(--borda-link);
	border-right: transparent solid var(--borda-link);
}

/* share */
.a2a_svg, .a2a_count { border-radius: 0 !important; }

.celular { display: none; }
@media only screen and (max-width: 900px) {
	:root {
	    --fonte-titulo: 35px;
	    --fonte-titulo_: 20px;
	    --fonte-menu: 14px;
	    --fonte-form: 12px;
	    --fonte-texto: 12px;
	}
	#tudo { position: relative; height: auto; }
	.frame { width: 100%; height: auto; }
	.menu {
		padding: 3vh 4vw 4vh 6vw;
	}
	.celular { display: block; }
	.esconde { display: none; }
	.menu_celular { 
		width: 50%; 
		display: 
		inline-block; 
		height: 280px;
		border-left: solid var(--cor-borda) var(--borda);
		border-bottom: solid var(--cor-borda) var(--borda);
	}
	/*.c0 { width: 32%; }*/
	/*.c1 { width: 68%; }*/
	/*.c2 { display: none; }*/
} 
