 
{% autoescape off %}
:root {
    --fonte: {{ fonte|default:"'Anton', sans-serif" }};
    --fonte-txt: {{ fonte_|default:'sans-serif' }};
    --cor: {{ cor|default:'black' }};
    --cor-borda: {{ cor|default:'#444' }};
    --cor-hover: {{ cor_|default:'blue' }};
    --borda: {{ borda|default:'18px' }};
    --borda-link: {{ borda_|default:'4px' }};
}

body, * {
	margin: 0;
	border: none;
	box-sizing: border-box;
	font-family: var(--fonte);
	color: var(--cor);
}
img {
	width: 100%;
	height: auto;
	margin-bottom: -6px;
}

a:link, a:visited, a:active, a:hover {
	color: var(--cor);
	text-decoration: none;
	border-bottom: var(--cor) solid var(--borda-link);
	font-weight: normal;
}
a:hover {
	color: var(--cor-hover);
	border-bottom: var(--cor-hover) solid var(--borda-link);
}

button {
	color: white;
	background: #f0f;
	border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
	background: var(--cor);
}

/* iframe */
.tudo {
	position: fixed;
}
.frame {
	float: left;
}
iframe {
	height: 100%;
	width: 100%;
	border: solid transparent 0px;
}
.coluna {
	border-right: solid var(--cor-borda) var(--borda);
}
.coluna_ {
	border-left: solid var(--cor-borda) var(--borda);
}
.linha {
	border-bottom: solid var(--cor-borda) var(--borda);
}

/* menu */
ul {
    list-style-type: none;
}
.fixo {
	position: fixed;
	background: white;
	z-index: 100;
	width: 100%;
}
.menu {
	text-align: right;
	font-size: 16px;
	padding: 20px 20px 30px 0px;
}
.menu li {
	line-height: 30px;
}
.submenu {
	padding: 10px 10px 0px 0px;
}
.submenu li {
	line-height: 25px;
}

/* resumo */
.home {
	float: left;
	width: 100%;
}
.home_titulo {
	font-weight: bold;
	font-size: 12vw;
	text-align: center;	
	padding: 30px 10px 15px;
}
.home_texto {
	font-family: var(--fonte-txt);
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 20px;
	padding: 40px 30px 50px 40px;	
}
.home_data {
	font-size: 6vw;
	padding: 40px 20px 50px 30px;	
}


/* blog */
.post {
	float: left;
	width: 100%;
	padding: 40px 25px 40px 30px;
}
.titulo {
	font-size: 8vw;
	margin-bottom: 16px;
}
.data {
	font-family: var(--fonte-txt);
	font-size: 12px;
	text-align: right;
	margin-bottom: 20px;
}
.texto {
	font-family: var(--fonte-txt);
	font-size: 14px;
}



.top-menu, .top-menu:link, .top-menu:active, .top-menu:hover, .top-menu:visited {
    float: right;
    margin-right: 20px;
    border: none;
}

.post-form textarea, .post-form input {
    width: 100%;
}

{% endautoescape %}

