{% extends 'blog/base.html' %}

{% block content %}
	<div class="fixo linha_ midias">
		<p><a href="">facebook</a> / <a href="">instagram</a> / <a href="">twiter</a></p>
	</div>
	<div class="home linha">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><button type="button">+</button></a>
        {% endif %}
		<div class="coluna"  style="width: 70vw; height: 5vh;"></div>
	</div>
	{% for post in posts %}
		{% if post.img %}
		<div class="post ">
		{% else %}
		<div class="post linha">
		{% endif %}
			<p class="titulo"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
			<p class="data">{{ post.published_date|date:"d/m/Y, H:i" }}</p>
			{% if post.img %}
			</div>
				<img src="{{ post.img.url }}" alt="{{ img }}" style="margin-top: -30px;">
			<div class="post linha">
			{% endif %}
			<p class="texto">{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	<div class="home linha">
		<div class="coluna"  style="width: 20vw; height: 30vh;"></div>
	</div>
{% endblock %}
