{% extends 'blog/base.html' %}

{% block content %}
    <div class="linha">
        <p class="titulo menu"><a href="{% url 'post_list' %}">< blog</a></p>
    </div>
    {% if post.img %}
    <div class="post ">
    {% else %}
    <div class="post linha">
    {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}" class="top-menu"><button type="button">editar</button></a>
            <a href="{% url 'post_remove' pk=post.pk %}" class="top-menu"><button type="button">deletar</button></a>
            {% if not post.published_date %}
                <a href="{% url 'post_publish' pk=post.pk %}" class="top-menu"><button type="button">publicar</button></a>
            {% endif %}
        {% endif %}
        <p class="titulo">{{ post.title }}</p>
                {% if post.published_date %}
                    <p class="data">{{ post.published_date|date:'d-m-Y' }}</p>
                {% endif %}
        {% if post.img %}
        </div>
            <img src="{{ post.img.url }}" alt="{{ img }}" style="margin-top: -30px;">
        <div class="post linha">
        {% endif %}
        <p class="texto">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
