{% extends 'blog/base.html' %}

{% block content %}
	<div class="home linha">
        <a href="{% url 'post_new' %}" class="top-menu"><button type="button">+</button></a>
		<a href="{% url 'post_list' %}" class="top-menu"><button type="button">blog</button></a>
		<div class="coluna"  style="width: 20vw; height: 5vh;"></div>
	</div>
    {% for post in posts %}
        <div class="post linha">
            <a href="{% url 'post_remove' pk=post.pk %}" class="top-menu"><button type="button">deletar</button></a>
			{% if not post.published_date %}
			    <a href="{% url 'post_publish' pk=post.pk %}" class="top-menu"><button type="button">publicar</button></a>
			{% endif %}
			<p class="titulo"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
            <p class="data">criado: {{ post.created_date|date:'d-m-Y' }}</p>
			{% if post.published_date %}
				<p class="data">publicado :{{ post.published_date|date:'d-m-Y' }}</p>
			{% endif %}
            <p>{{ post.text|truncatechars:100 }}</p>
        </div>
    {% endfor %}
{% endblock %}