{% extends 'blog/base.html' %}

{% block content %}
	<div class="home linha">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><button type="button">+</button></a>
        {% endif %}
		<div class="coluna"  style="width: 70vw; height: 5vh;"></div>
	</div>
	{% for post in posts %}
		<div class="post linha">
			<p class="titulo"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
			<p class="data">{{ post.published_date }}</p>
			<p class="texto">{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
{% endblock %}
