{% extends 'blog/base.html' %}

{% block content %}

	<p class="post resumo linha">{{ resumo.titulo|linebreaksbr }}</p>
	<div class="linha"><img src="{{ img.img.url }}" alt="{{ img }}"></div>

<div class="coluna" style="width: 60vw; height: 100%; float: left;">
	<div class="linha" style="height: 20vh;"></div>
	<p class="post linha texto">{{ resumo.resumo|linebreaksbr }}</p>
</div>
<div class="coluna" style="width: 40vw; height: 100%; float: left;">
	<p class="post titulo linha">{{ resumo.subtitulo|linebreaksbr }}</p>
	<div class="linha"></div>
	<div class="linha" style="height: 20vh;"></div>
</div>

{% endblock %}