body {
	margin: 0;
	font-family: sans-serif;
}
div {
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
	margin-top: -5px;
	margin-bottom: -4px;
}
p {
	margin: 0;
	margin-bottom: 5px;
}
a:link, a:visited, a:active, a:hover {
	color: #000;
	text-decoration: underline;
}
a:hover {
	text-decoration: line-through;
}

button {
	font-family:'Anton', sans-serif;
	color: white;
	background: red;
	border: 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
	background: black;
}

/* iframe */
.tudo {
	position: fixed;
	margin: 0;
	border: none;
}
.frame {
	position: relative; 
	float: left;
}
iframe {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	border: solid transparent 0px;
}
.coluna {
	border-right: solid black 20px;
}
.linha {
	border-bottom: solid black 20px;
}

/* site */
.menu {
	font-family:'Anton', sans-serif;
	text-align: right;
	padding: 15px;
	font-size: 16px;
}
ul {
    list-style-type: none;
}
.fixo {
	position: fixed;
	background: white;
	z-index: 100;
}
.logo {
	position: absolute;
	float: left;
}
.resumo {
	font-family:'Anton', sans-serif;
	font-weight: bold;
	font-size: 12vw;	
}

/* blog */
.post {
	padding: 20px 10px 20px 10px;
}
.titulo {
	font-family:'Anton', sans-serif;
	font-weight: bold;
	font-size: 6vw;
}
.data {
	font-size: 12px;
	text-align: right;
}
.texto {
	font-size: 14px;
	margin-bottom: 15px;
}





.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
    margin-right: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

