{% extends "o_t/base.html" %}
{% load outras_tags %}

{% block c0 %}
    <div class="linha" style="height: {% randint 10 90 %}vh;"></div>
{% endblock %}

{% block c1 %}
	{% espaco %}
	<div class="cartaz linha">
		<p class="titulo">{% trans 'erro 500' %}</p>
	</div>

	{% randint 30 70 as largura %}
	<div class="cartaz">
		<div class="post coluna" style="width: {{ largura }}%; height: 100vh;"></div>
		<div class="post linha data" style="width: {% cem largura %}%;"></div>
	</div>
{% endblock %}

{% block c2 %}
    <div class="linha" style="height: {% randint 10 90 %}vh;"></div>
{% endblock %}

