{% extends "o_t/base.html" %}

{% block c0 %}
    <div class="linha" style="height: 50vh;"></div>
{% endblock %}

{% block c1 %}
    <div class="linha" style="height: 20vh;"></div>
	<div class="cartaz linha">
		<p class="titulo">error 500</p>
	</div>

	<div class="cartaz">
		<div class="post coluna" style="width: 30%; height: 100vh;"></div>
		<div class="post linha data" style="width: 70%;"></div>
	</div>
{% endblock %}

{% block c2 %}
    <div class="linha" style="height: 30vh;"></div>
{% endblock %}

